#root {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  vertical-align: baseline;
  font-family: sans-serif;
}

.synth-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.synth-li {
  display: block;
  width: 70px;
}

.synth-li > article {
  padding: 15px 0px 160px;
  border: 1px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 10px;

  font-size: 24px;
  font-weight: bold;
  text-align: center;

  box-shadow: 0px 10px 5px #888888;
}

.true {
  background: grey;
  color: white;
}
